body{
    margin: 0;
}

#statsHider{
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0;
    background-color: #1f1e23;
    z-index: 1;
}

#goBack{
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
}

#chat{
    position: absolute;
    width: 100%;
    height: 100%;
}